# Pastas de build
[Bb]in/
[Oo]bj/

# Arquivos de configurações do usuário
.vs/
.vscode/
*.user
*.suo

# Executáveis e logs
*.exe
*.log

# Python cache
__pycache__/
*.pyc

# Ambiente virtual
.venv/
env/
venv/