# Pastas de ambiente e caches
.venv/
__pycache__/
.vscode/

# Executáveis e arquivos de build
*.exe
*.log
*.pyc

# Arquivos de sistema
.DS_Store

# Pastas do C# que NUNCA devem subir
bin/
obj/
.vs/
*.user
